<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href="../css/UserInfo.css" rel="stylesheet">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="main-box">
    <h2>User Info</h2>
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>Email</th>
                <th>Username</th>
                <th>Role</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.email}">이메일</a></td>
                <td th:text="${user.username}">닉네임</a></td>
                <td th:text="${user.role}">유저정보</td>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->

</body>
</html>